/* Resets */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: blue;
}



#search-city-list h1{
    margin: 20px;
    color: #00feba;
}

#search-city-list li{
    margin: 20px;
    color: #fff;
}
